* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; 
    font-family: 'Arial', sans-serif;
    color: #fff;
}

header {
    opacity: 0.9;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

h2 {
    font-size: 6vh;
    margin-bottom: 20px;
}

p {
    font-size:2vh;
    margin-bottom: 20px;
    max-width: 600px;
}

.options-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    gap: 10px;
}



.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn i {
    margin-right: 5px;
}
